<div class="row">
    <div class="col-12">
        <div class="card mb-2"
        [routerLink]="['/fairs', myfair.fairId]">
            <div class="card-body faircard"
            routerLinkActive="active"
            >
                <h3 class="text-white">{{myfair.fairName | uppercase}}</h3>
                <div class="typeandcontent">
                    <p class="m-0">
                        <strong>Event type : {{myfair.type}}</strong>
                    </p>
                    <p class="m-0">
                        <strong>Date : {{myfair.startDate}}</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
