.navbar-brand{
    height: 100%;
    width: 50px;
    padding: 0;
    img{
        height: 100%;
        width: 100%;
    }
}

.navbar-nav{
    .nav-item{
        margin-right: 10px;
        a{
            font-size: 1.5rem;
            font-weight: bold;
            &:hover,&:focus,&:active{
                color: rgb(255, 0, 0);
                text-shadow: 2px 2px 2px rgba(255, 0, 0, .4);
            }
            &.active{
                color: rgb(255, 0, 0);
                text-shadow: 2px 2px 2px rgba(255, 0, 0, .4);
            }
        }
    }
}